<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="color: cadetblue;">
        Search by sport !!
    </h3>
    <div align="left">
        <a routerLink="/home" ><img
            src="../assets/logo.jpg"
            class="rounded-circle" alt="Academy Logo" width="300"></a>
       </div> 
    </div>
</div>
<div align="center" style="color: cadetblue;">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <label>Sport Name:</label>
                <input type="text"  [(ngModel)]="sport" class="form-control" placeholder="Enter Sport Name">
              </div>
              </tr>
              <button type="submit" class="btn btn-primary" (click)="getAllStockBySport()">Search by Sport</button>
              </table>
              </div>
              </div>

              <div align="center">


                <div class="table" style="width: 18rem; font-style: normal;">
                    
            
                    <table>
                        <tr style="color: cadetblue;">
                            <th>Size </th>
                            <th>Image</th>
                            <th>Price (INR)</th>
                            <th>Colour</th>
                            <th>Type</th>
                            
            
                        </tr>
                        <tr *ngFor="let stock of stocks">
                            <td>{{stock.size}}</td>
                            <td><img src={{stock.image}} alt="Girl in a jacket" width="100" height="100" class="rounded-circle" ></td>
                            <td>{{stock.price}}</td>
                            <td>{{stock.colour}}</td>
                            <td>{{stock.sport}}</td>
                            
            
            
                        </tr>
            
                    </table>
            
                </div>
            </div>