<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="color: cadetblue;">
        Search by User Phone !!
    </h3>
    <div align="left">
        <a routerLink="/home" ><img
            src="../assets/logo.jpg"
            class="rounded-circle" alt="Academy Logo" width="300"></a>
       </div> 
    </div>
</div>
<div align="center" style="color: cadetblue;">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <label>User Phone:</label>
                <input type="number"  [(ngModel)]="phone" class="form-control" placeholder="Enter User Phone">
              </div>
              </tr>
              <button type="submit" class="btn btn-secondary" (click)="getRegisteredUserByPhone()">Get User</button>
              </table>
              </div>
              </div>

              <div align="center" style="color: cadetblue;">


                <div class="table" style="width: 18rem; font-style: normal;" style="color: cadetblue;">
                    <h3>User Detail</h3>
            
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
            
                        </tr>
                        <tr >
                            <td>{{user.registrationId}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.age}}</td>
            
            
                        </tr>
            
                    </table>
            
                </div>
            </div>