<div class="jumbotron" style="height: 0rem;">
    <div align="center">
        <h3 style="color: cadetblue;">
            Sales Orders Data !!

        </h3>
        <div align="left">
            <a routerLink="/home" ><img
                src="../assets/logo.jpg"
                class="rounded-circle" alt="Academy Logo" width="300"></a>
           </div> 


    

    </div>

</div>
<div align="center" style="color: cadetblue;">


    <div class="table" style="width: 18rem; font-style: normal;" style="color: cadetblue;">
        

        <table>
            <tr>
                <th>Order Id</th>
                <th>Promo Code</th>
                <th>Net Price</th>
                <th>Discounted Price</th>
                <th>Order Status</th>
                

            </tr>
            <tr *ngFor="let order of orders">
                <td>{{order.orderId}}</td>
                <td>{{order.promoCode}}</td>
                <td>{{order.netPrice}}</td>
                <td>{{order.discountedPrice}}</td>
                <td>{{order.orderStatus}}</td>
                


            </tr>

        </table>

    </div>
</div>