<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="..\assets\logo.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    
      <div class="form-group">
        <label>User Name:</label>
        <input type="text"  [(ngModel)]="username" class="form-control" placeholder="Enter username">
      
        <label>Password:</label>
        <input type="password"  [(ngModel)]="password" class="form-control" placeholder="Enter password">
     
      

      <button type="submit" class="btn btn-primary" (click)=doLogin()>Login</button>
    

    </div>

  </div>
</div>