<div class="jumbotron" style="height: 0rem;">
    <div align="center">
        <h3 style="color: cadetblue;">
            Registered Users List !!

        </h3>
        <div align="left">
            <a routerLink="/home" ><img
                src="../assets/logo.jpg"
                class="rounded-circle" alt="Academy Logo" width="300"></a>
           </div> 


    

    </div>

</div>
<div align="center" style="color: cadetblue;">


    <div class="table" style="width: 18rem; font-style: normal;" style="color: cadetblue;">
        <h3>Users List</h3>

        <table>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Email</th>
                <th>Phone</th>
                <th>UserName</th>

            </tr>
            <tr *ngFor="let reguser of regusers">
                <td>{{reguser.registrationId}}</td>
                <td>{{reguser.firstName}}</td>
                <td>{{reguser.lastName}}</td>
                <td>{{reguser.age}}</td>
                <td>{{reguser.sex}}</td>
                <td>{{reguser.email}}</td>
                <td>{{reguser.phone}}</td>
                <td>{{reguser.username}}</td>


            </tr>

        </table>

    </div>
</div>