<div class="jumbotron" style="height: 0rem;">
    <div align="center">
        <h3 style="color: cadetblue;">
            Available Stock On Clearance

        </h3>
       <div align="left">
        <a routerLink="/home" ><img
            src="../assets/logo.jpg"
            class="rounded-circle" alt="Academy Logo" width="300"></a>
       </div> 
        
        
            


    

    </div>

</div>
<div align="center">


    <div class="table" style="width: 18rem; font-style: normal;">
        

        <table>
            <tr style="color: cadetblue;">
                <th>Size</th>
                <th>Image</th>
                <th>Price</th>
                <th>Colour</th>
                <th>Type</th>
                

            </tr>
            <tr *ngFor="let stock of stocks">
                <td>{{stock.size}}</td>
                <td><img src={{stock.image}} alt="Girl in a jacket" width="50" height="60"></td>
                <td>{{stock.price}}</td>
                <td>{{stock.colour}}</td>
                <td>{{stock.sport}}</td>
                


            </tr>

        </table>

    </div>
</div>