<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
      <h3 style="color: cadetblue;">
          Stock Update Form
      </h3>
      <div align="left">
        <a routerLink="/home" ><img
            src="../assets/logo.jpg"
            class="rounded-circle" alt="Academy Logo" width="300"></a>
       </div> 
    </div>
  </div>
  <div align="center" style="color: cadetblue;">
  <div class="form-group">
      <table>
          <tr>
            <div class="form-group">
                <label>Stock ID:</label>
                <input type="number"  [(ngModel)]="stockunit.stockId" class="form-control" placeholder="Stock ID">
              </div>
              <div class="form-group">
                  <label>Stock Category:</label>
                  <input type="text"  [(ngModel)]="stockunit.category" class="form-control" placeholder="men/women/kids">
                </div>
                <div class="form-group">
                  <label>Size:</label>
                  <input type="number"  [(ngModel)]="stockunit.size" class="form-control" placeholder="Enter Size">
                </div>
                <div class="form-group">
                  <label>Price:</label>
                  <input type="number"  [(ngModel)]="stockunit.price" class="form-control" placeholder="Enter Price">
                </div>
                <div class="form-group">
                    <label>Image URL:</label>
                    <input type="text"  [(ngModel)]="stockunit.image" class="form-control" placeholder="Enter Image URL">
                  </div>
                  <div class="form-group">
                    <label>Colour:</label>
                    <input type="text"  [(ngModel)]="stockunit.colour" class="form-control" placeholder="Enter Colour">
                  </div>
                  <div class="form-group">
                    <label>Sport:</label>
                    <input type="text"  [(ngModel)]="stockunit.sport" class="form-control" placeholder="Enter Sport">
                  </div>
                  <div class="form-group">
                    <label>On Clearance:</label>
                    <input type="number"  [(ngModel)]="stockunit.clearance" class="form-control" placeholder="0 - No, 1 Yes">
                  </div>
                
  
                <button type="submit" class="btn btn-primary" (click)=updateStockUnit()>Update Stock</button>
              
              
              
  
      </table>
  </div>
  </div>
  
  