<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
    <h3 style="color: cadetblue;">
        Delete Stock Unit !!
    </h3>
    <div align="left">
        <a routerLink="/home" ><img
            src="../assets/logo.jpg"
            class="rounded-circle" alt="Academy Logo" width="300"></a>
       </div> 
    </div>
</div>
<div align="center" style="color: cadetblue;">
<div class="form-group">
    <table>
        <tr>
            <div class="form-group">
                <label>Stock ID(Stock to be deleted):</label>
                <input type="number"  [(ngModel)]="stockId" class="form-control" placeholder="Enter Stock ID">
              </div>
              </tr>
              <button type="submit" class="btn btn-primary" (click)="deleteStockUnit()">Delete Stock Unit</button>
              </table>
              </div>
              </div>